* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #FFF;
}

.block {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}

.list {
    margin-left: 20px;
}

.header {
    margin-top: 50px;
}

.header ul {
    list-style: none;
}

.header li {
    display: inline-block;
}

.menu-title {    
    width: 280px;
    font-size: 36px;
    font-weight: bold;
}

.menu-button {
    width: 80px;
}

.menu-button a {
    text-decoration: none;
    color: #009900;
    font-weight: 500;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}