* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #DDD;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 89vh;
    width: 89vw;
    margin: 0 auto;
}

.flex-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    align-items: stretch;
}

.header, .main, .aside, .footer {
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: white;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}

.header {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 20px;
}

.main {
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 60%;
    margin-right: 20px;
}

.aside {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30%;
}

.footer {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 20px;
}
