* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background: #eeeeee;
}

.container {
    margin: 0 auto;
    background: white;
    border: 0 solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: start;
}

.form {
    padding: 10px;
}

p {
    margin-bottom: 10px;
}

label {
    margin-right: 10px;
}

.header {
    position: relative;
    transform: translateY(-50%);
    width: 8em;
    background-color: #EEE;
    border: 1px solid #DDD;
    padding: 0 10px;
    height: 1.5em;
    line-height: 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

input {
    line-height: 1.5em;
}

.separate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    width: 70px;
    border-radius: 5px;
    background: black;
    color: white;
    line-height: 2.1em;
}

.button:hover {
    background: #DDD;
    color: black;
}

@media handheld {
    .section {
        margin: 0 auto;
        width: 35%;
        height: 70%;
        background: white;
    }
}

@media screen {
    .section {
        width: 60%;
        height: 40%;
        background: white;
    }
}
