body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

table, td, th {
    border: 1px solid rgb(222, 222, 222);
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    margin-top: 10%;
}

tr:nth-child(2n+1) {
    background: rgb(240, 240, 240);
}

tr:hover {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

td, th {
    text-align: left;
    padding-left: 0.5em;
}

th {
    background: rgb(200, 200, 200);
}